<div class="annonces-list">
    <div class="container d-flex flex-wrap">
        {% for annonce in annonces %}
            <div class="annonce col-12 col-md-6 col-lg-4 p-2">
                {% include 'templates/annonces/tease.twig' with { post: annonce } %}
            </div>
        {% endfor %}
    </div>
</div>
