{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="archive-posts-annonces d-flex">
        {% for post in posts %}
            {% include ['tease.twig'] %}
        {% endfor %}
    </div>

    {% include 'partials/pagination.twig' with {
        pagination: posts.pagination({
            show_all: false,
            mid_size: 3,
            end_size: 2
        })
    } %}
{% endblock %}
