<?xml version="1.0"?>
<ruleset>
	<!-- Files or directories to check -->
	<file>.</file>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
   <exclude-pattern>*/wordpress/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
   <exclude-pattern>*/resources/*</exclude-pattern>
	<exclude-pattern>*/dist/*</exclude-pattern>
	<exclude-pattern>*/tests/*</exclude-pattern>

	<!-- Path to strip from the front of file paths inside reports (displays shorter paths) -->
	<arg name="basepath" value="." />

	<!-- Set a minimum PHP version for PHPCompatibility -->
	<config name="testVersion" value="8.1-" />

	<!-- Use 10up's phpcs ruleset -->
	<rule ref="10up-Default">
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
		<exclude name="WordPress.WP.I18n.MissingTranslatorsComment"/>
	</rule>

	<!-- Set the text domain to timber-starter -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="timber-starter"/>
		</properties>
	</rule>

</ruleset>